* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #0B0C10;
}

html, body {
    height: 100%;
}

.bg {
}

body {
    display: flex;
    flex-direction: column;
    font: 13px Helvetica, Arial;
    color: #C5C6C7;
}

.container-fluid {
    flex: 1 0 auto;
}

.title {
    text-align: center;
    margin-bottom: 0;
    padding: 10px;
    color: #45A29E;
}

.description {
    text-align: center;
    margin: 25px;
    padding: 5px;
}

.content-row {
    padding: 0;
    margin: 0;
}

/* LEFT PANEL - USERNAME INPUT / PLAYERS DETAILS  */
.players-details {
    border: solid 1px #45A29E;
}

.username {
    padding: 5px;
    text-align: center;
    margin: 10px;
    max-width: 350px;
}

#username-input {
    margin-bottom: 2px;
}

#username-form {
    margin: 5px auto;
    display: block;
}

.players-info {
    display: none;
    /* visibility: hidden; */
    background-color: #45A29E;
    margin: 20px auto;
    text-align: center;
    font-size: 1.2em;
    max-width: 75%;
}

.alert {
    display: none;
    /* visibility: hidden; */
    margin: 25px auto;
}

/* CENTER PANEL - GAME BOARD  */
#board {
    text-align: center;
    pointer-events: none;
}

.board-row {
    margin: auto;
    padding: 0;
    width: 300px;
    height: 100px;
}

.cell {
    text-align: center;
    background: #1f2833;
    border: solid 0.5px #45A29E;
    padding: 0;
}

.cell > span {
    display: block;
    background: none;
    margin-top: 2px;
    font-size: 80px;
}

#mark {
    font-size: 2rem;
}

/* RIGHT PANEL - CHAT  */
.chat-window {
    border: solid 1px #45A29E;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.chat-input {
    position: absolute;
    bottom: 0;
    color: white;
}

#messages {
    color: white;
    font-size: 0.9em;
    margin: 2px;
}

.footer {    
    flex-shrink: 0;
    padding: 10px;
    background-color: #1f2833;
    color: white;
    text-align: center;
}

.button {
    border: none;
    color: white;
    padding: 5px 17px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button-outline {
    background-color: #0B0C10;
    color: white;
    border: 1px solid #45A29E;
}